{
  "presets": [
    "@babel/env",
    ["@babel/typescript", { "jsxPragma": "dom" }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma": "dom" }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}