body {
  padding: 1%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.modal-title {
  font-size: 20px;
  font-weight: lighter;
  padding: 0 0 7px 0;
  margin-top: 7px;
  margin-bottom: 20px;
}

.modal {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.bg-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.inner-modal {
  transition: top .25s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  max-width: 562px;
  width: 60%;
  min-width: 320px;
  max-height: 320px;
  height: 45%;
  min-height: 200px;
}

.top-modal-section {
  padding: 25px 54px 27px 55px;

  background-color: #f5f5f7;
}

.bottom-modal-section {
  padding: 25px 54px 34px 55px;
}